html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

canvas {
    display: block;
}

h3 {
    font-size: 32;
}

.main {
    margin: auto;
    padding-top: 20%;
}

ul {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
    line-height: 160%;
    font-size: 26;
}

button {
    width: 8em;
    height: 2.5em;
    font-size: 32;
    margin-top: 2em;
    margin-bottom: 3em;
    font-weight: bold;
}